# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.eggs/
*.egg-info/
*.egg
build/
dist/

# Virtualenvs
.venv/
venv/
env/

# Logs
*.log

# IDE
.idea/
.vscode/
*.iml
