name: Build and Dockerize

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Java
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      # Run Maven build
      - name: Build with Maven
        run: mvn clean package


      # Log in to GitHub Container Registry
      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      # Build Docker image
      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/super_bot:latest .

      # Push Docker image to GitHub Packages
      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository_owner }}/super_bot:latest